.button {
  border: 1px solid #555555;
  background: #2c2c2c;
  color: #cccccc;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  padding: 1.5rem;
}

.button:hover {
  background: #3a3a3a;
}

.button span {
}

.button img {
  margin: 0.0rem 1.5rem 0.0rem 0;
}